
	.navbar h2,
	.navbar .links ul li.active a,
	.navbar .links ul li a:hover,
	.navbar .links ul li a:focus,
	.header .carousel-inner .item h2 span,
	.Our-services .row  i.fa,
	.Clints-say .carousel-inner h2,
	.footer h2
	  {
	  	color: #19469a;
	  }

  	.navbar-toggle,
	.products  ul li.active ,
	.products   ul li:hover,
	.products  ul li:focus,
  	#scroll-top
	{
		background-color: #19469a;
	}
	.Our-Team .teamimg .overlay,
	.products .productImg .overlay
	{
		background: rgba(25 , 70 , 154 ,0.8);
	}

	.navbar .links ul li.active a,
	.navbar .links ul li a:hover,
	.navbar .links ul li a:focus
	{
		border-bottom: 3px solid #19469a;
	}
.Clints-say
{
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 400px;
	position: relative;
	margin-top: 80px;
	text-align: center;
}